version: "3.9"

services:

  app:
    build: ./app
    container_name: fastapi_app
    restart: always
    environment:
      REDIS_HOST: redis
      DB_HOST: mariadb
      DB_USER: appuser
      DB_PASSWORD: apppass
      DB_NAME: appdb
    depends_on:
      - redis
      - mariadb

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always

  mariadb:
    image: mariadb:11
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
